* {
    color: black;
    font-family: Buda, sans-serif;
}

body {
    background-color: #F8F8F8;
}

a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

.visited {
    color: #888888;
}

#explorer-content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.post {
    display: none;
    padding-left: 10px;
}

#explorerTitle {
    font-size: 36px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: none;
}

.postDate {
    margin-bottom: 20px;
    padding-left: 5px;
}

.postImage img {
    border: 2px #505050 solid;
    padding: 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 300px;
    max-width: 300px;
    cursor: pointer;
}

#via {
    border: 2px #505050 solid;
    padding: 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: none;
    position: absolute;
    left: 350px;
    margin-right: 10px;
}

.via {
    display: none;
}

.via img {
    border: 1px #505050 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
    margin: 5px;
    max-height: 100px;
    max-width: 100px;
    cursor: pointer;
}

#fullScreen {
    position: fixed;
    top: 30px;
    width: 100%;
    text-align: center;
    z-index: 3;
    display: none;
}

#fullScreen img {
    border: 2px #505050 solid;
    padding: 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#error {
    border: 2px red solid;
    background-color: #F8F8F8;
    font-weight: bold;
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 5;
    width: 200px;
    display: none;
}

#navigation {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

#navigation a {
    border: 1px #505050 solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.navigationContent {
    position: absolute;
    top: 40px;
    right: 10px;
    display: none;
    border: 1px #505050 solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.navigationContent ul {
    list-style: none;
    margin: 0;
    padding: 0;
}